<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build iOS Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>add_from_buffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>add_from_filep.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>command line tools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>fopen_unchanged.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>fread.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>libzip Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>libzip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>modify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>name_locate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>set_comment_all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>set_comment_localonly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>set_comment_removeglobal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>set_comment_revert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>set_compression.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>stat_index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>test programs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>tryopen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>zipcmp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>zipmerge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ziptorrent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B01D68A15B2F3F1002D5007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B01D6FC15B2F4B1002D5007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B01D70A15B2F4EB002D5007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B01D71515B2F4F7002D5007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B01D72815B2F5A2002D5007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B54447915C977A20067BA33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BACD58815BC2CEA00920691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BACD59815BC2D4C00920691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BACD5A715BC2D8200920691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BACD5B515BC2DC900920691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BACD5C415BC2DF200920691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BACD5D315BC2F3700920691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BACD5E215BC2F6600920691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BACD5F115BC2F9500920691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BACD5FF15BC2FA300920691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BACD60C15BC2FA900920691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BACD61915BC2FAC00920691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BACD62615BC2FAE00920691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BACD63715BC2FEF00920691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BACD64515BC301300920691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BDC71DF15B182B200236D3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BDC72A115B1B6EA00236D3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
